[Oo]bj/
[Bb]in/
[lL]ogs/
merged/
fubu-packages/
fubu-content/
compass-images/
*.ReSharper
_ReSharper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Tt]eam[Cc]ity.user
*.suo
*.swp
*.cache
~$*
*.
*.pidb
*.userprefs
*~
*.zip
*.orig
*.vsmdi
*.log
*-built.js
tempIIS.config
*.docstates
*.bin
cache
gems
specifications
Deploy
Publish
packages
Build
!vendor/cache
vendor
*.user
*.DotSettings
*.DotSettings.*
*.ncrunchsolution
*.ncrunchsolution.*
*.sublime*

